#index .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

#index .trigger:hover {
  color: #1890ff;
}

#index .logo {
  height: 40px;
  width: 40px;
  background-position: center;
  margin: 0px 0px 0px 0px;
}

#my-sider .ant-menu-inline,#my-sider  .ant-menu-vertical,#my-sider  .ant-menu-vertical-left {
  border-right: 1px solid #bbb !important;
}
.ant-table-row-level-0 {
  font-weight: bold !important;
}
.ant-layout-sider-light {
  background: #fff;
  border-right: 1px solid #bbb !important;
}

#my-sider .ant-layout-sider-trigger {
  width: 60px !important;
}

.ant-menu-item .ant-menu-item-active {
  width: 50px;
  padding : 0px;
  padding-left: 0px;
  margin: 0px;
}

.categoryNav .ant-menu-submenu-title {
  padding: 0 !important;
  margin: 0 !important;
}

div.ant-menu-submenu-title {
  padding: 0 !important;
  margin: 0 !important;
}

html, body {
  width: 100%;
  height: 100%;
}
